*{margin: 0;
padding: 0;
}
    
.container-principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
}
header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    top: 0;
}
    
.logo{
    position: absolute;
    width: 300px;
    height: auto;
}
    
.logo img{
    width: 90%;
    margin-left: 10%;
}
    
nav{
    position: absolute;
    right: 30px;
    bottom: 0px;
}
    
nav ul li{
    float: left;
    color: #fff;
    width: auto;
    margin: 0.8em;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}
    
nav ul li a{
    text-decoration: none;
    color: #bbb;
}
    
nav ul li a:hover{
    color: #b13030;
}

.color-page{
    background-color: #ddd;
}

.img-titulo{
    width: 20%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    float: left;
    margin-right: 5%;
}

.img-titulo img{
    width: 90%;
    margin-left: 10%;
    margin-top: 50px;
}

#clientes-code{
    width: 75%;
    position: relative;
    float: left;
}

#clientes-code .config-clientes{
    width: 40%;
    border: 1px solid #b50909;
    margin-left: 1.5%;
    padding: 1%;
    float: left;
    margin-top: 30px;
    background-color: #fff;
}

#clientes-code .config-clientes img{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    text-align: center;
}

#clientes-code .config-clientes p{
    width: 90%;
    margin-left: 5%;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

#clientes-code .config-clientes p a{
    color: #111;
}